@import 'base/main.scss';
@import 'utils/mixins.scss';
@import 'utils/_variables.scss';
@import 'layouts/header.scss';
@import 'layouts/footer.scss';
@import 'components/purple-button.scss';

/* tempo */

footer img {
    max-width: 100px;
}


a {
    color: inherit;
    text-decoration: none;
}

/* presentation */

#presentation {
    background: linear-gradient(#FFFFFF, $light-bg-color);
    padding-bottom: 40px;
}

#presentation__location {
    @include center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #eaeaea;

    p {
        margin-left: 10px;
        font-weight: bold;
    }
}

h1 {
    font-size: 20px;
    text-align: center;
    padding: 20px 30px 0 30px;
}

#presentation__catch-phrase {
    text-align: center;
    padding: 0 15px 0 15px;
}

h2 {
    @media only screen and (min-width: 769px) {
        text-align: center;
    }
}

#fonctionnement {
    @include main-padding;
    
}

#steps {
    @include flex-wrap-row;
    gap: 3%;
    padding-left: 15px;
    box-sizing: border-box;
    width: 100%;
    
}

.fonctionnement__step {
    display: flex;
    align-items: baseline;
    border-radius: 20px;
    min-width: 280px;
    background-color: $light-bg-color;
    @include shadow;
    padding: 10px;
    margin-bottom: 15px;
    
    &:hover {
        background-color : rgba($color-primary, 0.1);
    }

    @media only screen and (max-width: 768px) {
        width: 100%;
    }
    
}

.step__number {
    color: #FFFFFF;
    background-color: $color-primary;
    border-radius: 100%;
    padding: 8px 13px 8px 13px;
    transform: translateX(-25px);
}

.step__icon {
    color : #7e7e7e;
    padding-left: 10px;

    &:hover {
        color : $color-primary;
    }
}

.step__description {
    padding-left: 15px;
    font-weight: bold;
}

#restaurants {
    background-color: $light-bg-color;
    @include main-padding;

    &__cards {
        @include flex-wrap-row;
        gap: 5%;
    }
}

.restaurants__card {
    background-color: #FFFFFF;
    border-radius: 25px;
    margin-bottom: 20px;
    width: 45%;
    position: relative;

    @media only screen and (max-width: 768px) {
        width: 100%;
    }
}

.restaurant {
    &__img {
        width: 100%;
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
        height: 250px;
        object-fit: cover;
    }

    &__info {
        padding: 15px;
    }

    &__new-tag {
        background-color: $color-tertiary;
        color : darken($color-tertiary, 40%);
        font-weight: bold;
        padding: 8px 10px 8px 10px;
        width: fit-content;
        border-radius: 5px;
        font-size: 14px;
        position: absolute;
        top: 15px;
        right: 15px;
    }
}