@import 'base/main.scss';
@import 'utils/mixins.scss';
@import 'utils/_variables.scss';
@import 'layouts/header.scss';
@import 'layouts/footer.scss';
@import 'components/purple-button.scss';
@import 'components/like-button.scss';

/* tempo */


a {
    color: inherit;
    text-decoration: none;
}

#presentation h1 {
    font-size: 20px;
    text-align: center;
    padding: 20px 30px 0 30px;
}

/* presentation */

#presentation {
    background: linear-gradient(#FFFFFF, $light-bg-color);
    padding-bottom: 40px;

    &__location {
        @include center;
        @include align-items-center;
        justify-content: center;
        background-color: #eaeaea;
    
        p {
            margin-left: 10px;
            font-weight: bold;
        }
    
    }

    &__catch-phrase {
        text-align: center;
        padding: 0 15px 0 15px;
    }
}

h2 {
    padding-bottom: 15px;
}

.section-title {
    @media only screen and (min-width: 769px) {
        text-align: center;
    }
}


#fonctionnement {
    @include main-padding;
    
}

#steps {
    @include flex-wrap-row;
    gap: 3%;
    padding-left: 15px;
    box-sizing: border-box;
    width: 100%;
    
}

.fonctionnement__step {
    display: flex;
    align-items: baseline;
    border-radius: 20px;
    min-width: 280px;
    background-color: $light-bg-color;
    @include shadow;
    padding: 10px;
    margin-bottom: 15px;

    &:hover{
        background-color : rgba($color-primary, 0.1);
    }
    
    &:hover > .step__icon {
        color : $color-primary;
    }

    @media only screen and (max-width: 768px) {
        width: 100%;
    }
    
}

.step {

    &__number {
        color: #FFFFFF;
        background-color: $color-primary;
        border-radius: 100%;
        padding: 8px 13px 8px 13px;
        transform: translateX(-25px);
    }

    &__icon {
        color : #7e7e7e;
        padding-left: 10px;
    
        &:hover {
            color : $color-primary;
        }
    }

    &__description {
        padding-left: 15px;
        font-weight: bold;
    }

}

#restaurants {
    background-color: $light-bg-color;
    @include main-padding;
    padding-top: 40px;
    padding-bottom: 30px;

    &__cards {
        @include flex-wrap-row;
        gap: 5%;
        max-width: 1000px;
        margin-left: auto;
        margin-right: auto;
    }
}

.restaurants__card {
    @include cards;
    width: 45%;
    position: relative;

    @media only screen and (max-width: 768px) {
        width: 100%;
    }
}

.restaurant {
    &__img {
        @include object-fit-cover;
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;

        @media only screen and (max-width: 768px) {
            height: 45vw;
        }

        @media only screen and (min-width: 769px) {
            height: 250px;
        }
    }

    &__info {
        padding: 15px 20px 15px 20px;
        font-size: 18px;

        .fa-heart {
            position: absolute;
            bottom: 55px;
            right: 30px;
        }
    }

    &__name {
        margin-block-start: 5px;
        margin-block-end: 8px;
    }

    &__location {
        margin-block-start: 8px;
        margin-block-end: 5px;
    }

    &__new-tag {
        background-color: $color-tertiary;
        color: darken($color-tertiary, 40%);
        font-weight: bold;
        padding: 8px 10px 8px 10px;
        width: fit-content;
        border-radius: 5px;
        font-size: 14px;
        position: absolute;
        top: 15px;
        right: 15px;
    }
}

/* page restaurant */

.restaurant-presentation {

    img {
        @include object-fit-cover;
        max-height: 450px;
    }
}

#restaurant-name {
    
    @include align-items-center;
    justify-content: space-between;
    position: relative;

    .fa-heart {
        position: absolute;
        right: 0px;
    }

    h1 {
        font-family: $brand-font;

        @media only screen and (min-width: 769px) {
            margin-right: 30px;
        }
    }
}

#menu {
    @include main-padding;
    background-color: $light-bg-color;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    padding-bottom: 100px;
    margin-top: -60px;
    position: relative;
}

#menu__content {
    @include center;
    max-width: 1000px;
}



.plate {
    
    @include cards;
    width: 100%;
    display: flex;

    &__info {
        padding: 15px;
        width: 88%;

        div {
            display: flex;
            justify-content: space-between;
        }

        p {
            margin-block-end: 0;
            @include ellipsis;
        }

        h3 {
            margin-block-start: 0;
            margin-block-end: 0;
            @include ellipsis;
        }
    }

    &-type h2 {
        text-transform: uppercase;
        position: relative;
        font-weight: normal;
        

        &::after {
            content: "";
            background-color: $color-tertiary;
            width: 45px;
            height: 4px;
            position: absolute;
            left: 0;
            top: 35px;
        }
    }

    &__price {
        font-weight: bold;
    }

    &-selected {
        background-color: $color-tertiary;
        width: 12%;
        border-top-right-radius: 25px;
        border-bottom-right-radius: 25px;
        place-items: center;
        display: flex;
        min-width: 50px;
        font-size: 32px;

        .fa-circle-check {
            color: #FFFFFF;
            margin-left: auto;
            margin-right: auto;
        }
    }
}

#commander {
    margin-top: 40px;
}

      
