/* general properties for all pages */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand:wght@400&display=swap");
body {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

/* Animation delay increase for plates */
.plate-type .plate:nth-child(1) {
  animation-delay: 0.5s;
  -webkit-animation-delay: 0.5s;
}

.plate-type .plate:nth-child(2) {
  animation-delay: 1s;
  -webkit-animation-delay: 1s;
}

.plate-type .plate:nth-child(3) {
  animation-delay: 1.5s;
  -webkit-animation-delay: 1.5s;
}

.plate-type .plate:nth-child(4) {
  animation-delay: 2s;
  -webkit-animation-delay: 2s;
}

.plate-type .plate:nth-child(5) {
  animation-delay: 2.5s;
  -webkit-animation-delay: 2.5s;
}

/* Animation delay increase for points in loading spinner + points colors */
#loader__points .point:nth-child(1) {
  animation-delay: 0.5s;
  -webkit-animation-delay: 0.5s;
  background-color: #9356DC;
}

#loader__points .point:nth-child(2) {
  animation-delay: 1s;
  -webkit-animation-delay: 1s;
  background-color: #FF79DA;
}

#loader__points .point:nth-child(3) {
  animation-delay: 1.5s;
  -webkit-animation-delay: 1.5s;
  background-color: #99E2D0;
}

header {
  width: 100%;
  box-shadow: 0 10px 2px -2px #e2e2e2;
  display: flex;
  align-items: center;
}
header a {
  margin-left: 3%;
}

#logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 150px;
  padding: 15px 0 10px 0;
}

footer {
  background-color: #353535;
  color: white;
  padding-left: 3%;
  padding-right: 3%;
  padding-top: 15px;
}
footer ul {
  list-style: none;
  padding-inline-start: 0;
  margin-block-end: 0;
  padding-bottom: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-content: space-between;
}
footer li {
  margin-top: 10px;
  text-align: center;
}
@media only screen and (max-width: 768px) {
  footer li {
    width: 100%;
    text-align: initial;
  }
}
footer a {
  color: white;
}
footer a:hover {
  text-decoration: underline;
}

#footer__content {
  max-width: 1000px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#footer__title {
  font-family: "Shrikhand";
  font-size: 20px;
}
@media only screen and (min-width: 769px) {
  #footer__title {
    text-align: center;
  }
}

.footer__icon {
  width: 14px;
  margin-right: 10px;
}

.purple-button {
  background: linear-gradient(#FF79DA, #9356DC);
  display: block;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 1px 1px 5px lightgrey;
  max-width: 200px;
  font-size: 18px;
  color: #fff;
  text-align: center;
  padding: 18px;
  border-radius: 30px;
  transition-duration: 0.5s;
}
.purple-button:hover {
  opacity: 0.5;
  box-shadow: 1px 1px 5px 2px lightgray;
  transform: all 0.8s;
}

.fa-heart {
  font-size: 32px;
}
.fa-heart:hover {
  background-image: linear-gradient(#FF79DA, #9356DC);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  opacity: 1;
  transition: all 0.8s ease;
  transform: scale(1.1);
}

.like-full {
  color: #fff;
  opacity: 0;
}

/* index page */
#presentation h1 {
  font-size: 20px;
  text-align: center;
  padding: 20px 30px 0 30px;
}

/* index page loader spinner animations */
@keyframes loader-background-animation {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
@keyframes loader-points-animation {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
#loader {
  background-color: #EAEAEA;
  opacity: 0.95;
  z-index: 3;
  height: 100%;
  width: 100%;
  position: fixed;
  animation: loader-background-animation 3s 3s;
  animation-fill-mode: both;
}
#loader__title {
  font-family: "Shrikhand";
  font-size: 40px;
  margin-top: 40vh;
  display: flex;
  justify-content: center;
  animation: loader-points-animation 3s;
  opacity: 0;
}
#loader__points {
  display: flex;
  gap: 30px;
  justify-content: center;
  margin-top: 10vh;
}

.point {
  width: 40px;
  min-width: 40px;
  height: 40px;
  border-radius: 100%;
  animation: loader-points-animation 2s;
  animation-fill-mode: both;
}

/* properties for presentation */
#presentation {
  background: linear-gradient(#FFFFFF, #f6f6f6);
  padding-bottom: 40px;
}
#presentation__location {
  display: block;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #eaeaea;
}
#presentation__location p {
  margin-left: 10px;
  font-weight: bold;
}
#presentation__catch-phrase {
  text-align: center;
  padding: 0 15px 0 15px;
}

/* properties for sections */
h2 {
  padding-bottom: 15px;
}

@media only screen and (min-width: 769px) {
  .section-title {
    text-align: center;
  }
}

/* properties for fonctionnement section on index page */
#fonctionnement {
  padding-left: 3%;
  padding-right: 3%;
}

#steps {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3%;
  padding-left: 15px;
  box-sizing: border-box;
  width: 100%;
}

.fonctionnement__step {
  display: flex;
  align-items: baseline;
  border-radius: 20px;
  background-color: #f6f6f6;
  box-shadow: 1px 1px 5px lightgrey;
  padding: 10px;
  margin-bottom: 15px;
}
@media only screen and (min-width: 769px) {
  .fonctionnement__step {
    min-width: 280px;
  }
}
@media only screen and (max-width: 768px) {
  .fonctionnement__step {
    width: 100%;
  }
}
.fonctionnement__step:hover {
  background-color: rgba(147, 86, 220, 0.1);
}
.fonctionnement__step:hover > .step__icon {
  color: #9356DC;
}

.step__number {
  color: #FFFFFF;
  background-color: #9356DC;
  border-radius: 100%;
  padding: 8px 13px 8px 13px;
  transform: translateX(-25px);
}
.step__icon {
  color: #7e7e7e;
  padding-left: 10px;
}
.step__icon:hover {
  color: #9356DC;
}
.step__description {
  padding-left: 15px;
  font-weight: bold;
}

/* properties for restaurents section on index page */
#restaurants {
  background-color: #f6f6f6;
  padding-left: 3%;
  padding-right: 3%;
  padding-top: 40px;
  padding-bottom: 30px;
}
#restaurants__cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5%;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.restaurants__card {
  box-shadow: 1px 1px 5px lightgrey;
  background-color: #FFFFFF;
  border-radius: 25px;
  margin-bottom: 20px;
  cursor: pointer;
  width: 45%;
  position: relative;
}
@media only screen and (max-width: 768px) {
  .restaurants__card {
    width: 100%;
  }
}
.restaurants__card:hover > .restaurant__img {
  opacity: 0.5;
  transform: opacity 3s;
}

.restaurant__img {
  width: 100%;
  object-fit: cover;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}
@media only screen and (max-width: 768px) {
  .restaurant__img {
    height: 45vw;
  }
}
@media only screen and (min-width: 769px) {
  .restaurant__img {
    height: 250px;
  }
}
.restaurant__info {
  padding: 15px 20px 15px 20px;
  font-size: 18px;
}
.restaurant__info .fa-heart {
  position: absolute;
  bottom: 40px;
  right: 30px;
}
.restaurant__name {
  margin-block-start: 5px;
  margin-block-end: 8px;
}
.restaurant__location {
  margin-block-start: 8px;
  margin-block-end: 5px;
}
.restaurant__new-tag {
  background-color: #99E2D0;
  color: #278870;
  font-weight: bold;
  padding: 8px 10px 8px 10px;
  width: fit-content;
  border-radius: 5px;
  font-size: 14px;
  position: absolute;
  top: 15px;
  right: 15px;
}

/* page restaurant */
.restaurant-presentation img {
  width: 100%;
  object-fit: cover;
  max-height: 450px;
}

#restaurant-name {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
#restaurant-name .fa-heart {
  position: absolute;
  right: 0px;
  vertical-align: text-top;
}
#restaurant-name h1 {
  font-family: "Shrikhand";
  width: 90%;
}
@media only screen and (min-width: 769px) {
  #restaurant-name h1 {
    margin-right: 30px;
  }
}

/* properties for menu section */
#menu {
  padding-left: 3%;
  padding-right: 3%;
  background-color: #f6f6f6;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  padding-bottom: 100px;
  margin-top: -60px;
  position: relative;
}

#menu__content {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 1000px;
}

@keyframes plates-appearing {
  0% {
    -webkit-transform: translateY(50%);
    transform: translateY(50%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
    opacity: 1;
  }
}
.plate {
  box-shadow: 1px 1px 5px lightgrey;
  background-color: #FFFFFF;
  border-radius: 25px;
  margin-bottom: 20px;
  cursor: pointer;
  width: 100%;
  display: flex;
  position: relative;
  overflow: hidden;
  animation: plates-appearing 1.5s both;
}
.plate__info {
  padding: 15px;
  width: 100%;
  box-sizing: border-box;
}
.plate__info div {
  display: flex;
}
.plate__info p {
  margin-block-end: 0;
}
.plate__info h3 {
  margin-block-start: 0;
  margin-block-end: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  transition-duration: 630ms;
  max-width: 80%;
}
.plate__description {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 80%;
  transition-duration: 630ms;
}
.plate-type h2 {
  text-transform: uppercase;
  position: relative;
  font-weight: normal;
}
.plate-type h2::after {
  content: "";
  background-color: #99E2D0;
  width: 45px;
  height: 4px;
  position: absolute;
  left: 0;
  top: 35px;
}
.plate__price {
  font-weight: bold;
  transition-duration: 630ms;
  position: absolute;
  right: 15px;
}
.plate-selected {
  background-color: #99E2D0;
  width: 12%;
  height: 100%;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  place-items: center;
  display: flex;
  min-width: 50px;
  font-size: 32px;
  position: absolute;
  right: -125px;
  transition-duration: 630ms;
}
.plate-selected .fa-circle-check {
  color: #FFFFFF;
  margin-left: auto;
  margin-right: auto;
  transition-duration: 630ms;
}
.plate:hover > .plate-selected {
  transform: translateX(-125px);
}
.plate:hover .plate__price {
  transform: translateX(-12vw);
}
.plate:hover .fa-circle-check {
  transition: transform 630ms ease-in-out;
  transform: rotate(360deg);
}
.plate:hover .plate__info h3, .plate:hover .plate__description {
  width: 70%;
  transition: width 630ms;
}

#commander {
  margin-top: 40px;
}

/*# sourceMappingURL=style.css.map */
