.fa-heart {
    font-size: 32px;

            &:hover {
        background-image: linear-gradient($color-secondary, $color-primary);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        opacity: 1;
        transition: background-image .8s ease;
        transform: scale(1.1);
        }
}

.like-full {
    color: #fff;
    opacity: 0;
}