.purple-button {
    @include purple-gradiant;
    @include center;
    @include shadow;
    max-width: 200px;
    font-size: 18px;
    color: #fff;
    text-align: center;
    padding: 18px;
    border-radius: 30px;
}