.purple-button {
    @include purple-gradiant;
    @include center;
    @include shadow;
    max-width: 200px;
    font-size: 18px;
    color: #fff;
    text-align: center;
    padding: 18px;
    border-radius: 30px;
    transition-duration: .5s;

    &:hover {
        opacity: 0.5;
        box-shadow: 1px 1px 5px 2px lightgray;
        transform: all .8s;
    }
}