@import '../utils/_variables.scss';

@for $plate from 1 through 4 {
    .plate-type .plate:nth-child(#{$plate}) { 
        animation-delay: $plate * 0.5s;
        -webkit-animation-delay: $plate * 0.5s;
    }
  }

  @for $point from 1 through 3 {
    #loader__points .point:nth-child(#{$point}) { 
        animation-delay: $point * 0.5s;
        -webkit-animation-delay: $point * 0.5s;
        @if ($point== 1) {
            background-color: $color-primary;
        }
        @if ($point== 2) {
            background-color: $color-secondary;
        }
        @if ($point== 3) {
            background-color: $color-tertiary;
        }
    }
  }

  