@mixin center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    }

@mixin purple-gradiant {
    background: linear-gradient($color-secondary, $color-primary);
}

@mixin flex-wrap-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}