@mixin center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    }

@mixin purple-gradiant {
    background: linear-gradient($color-secondary, $color-primary);
}

@mixin flex-wrap-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

@mixin shadow {
    box-shadow: 1px 1px 5px lightgrey;
}

@mixin main-padding {
    padding-left: 3%;
    padding-right: 3%;
}

@mixin object-fit-cover {
    width: 100%;
    object-fit: cover;
}

@mixin align-items-center {
    display: flex;
    align-items: center;
}

@mixin cards {
    @include shadow;
    background-color: #FFFFFF;
    border-radius: 25px;
    margin-bottom: 20px;
}

@mixin ellipsis {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}