
footer {
    background-color: #353535;
    color: white;
    @include main-padding;
    padding-top: 15px;

    ul {
        list-style: none;
        padding-inline-start: 0;
        margin-block-end: 0;
        padding-bottom: 30px;
        @include flex-wrap-row;
        justify-content: space-between;
    }

    li {
        margin-top: 10px;
        text-align: center;
        
        @media only screen and (max-width: 768px) {
            width: 100%;
            text-align: initial;
        }
    }

    a {
        color: white;

        &:hover {
            text-decoration: underline;
        }
    }
}

#footer {
    &__content {
        max-width: 1000px;
        @include center;
    }

    &__title {
        font-family: $brand-font;
        font-size: 20px;

        @media only screen and (min-width: 769px) {
            text-align: center;
        }
    }
}

.footer__icon {
    width: 14px;
    margin-right: 10px;
}